.bg-white{
    border-bottom:1px solid #e7e7e7 !important;
}

.navbar-nav .nav-link{
    padding: 10px 15px !important;
    font-size: 15px;
    border-radius: 4px;
    color: #636579 !important;
    font-weight: 500;
}
.navbar{
    padding: 0rem 1rem !important;
}

.navbar-light .navbar-nav .nav-link:focus{
    background:#514ffa;
    color: #fff !important;
}

.navbar-right{
    margin-right: 0px;
}